<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body class="text-left text-primary justify-content-center align-items-center">
    <div class="body-color">
        <div class="card">
            <div class="card-header">
                <h1 class="display-3 text-center text-white border rounded mb-0" style="font-size: 75px;">Sinhala Syntax Checker</h1>
            </div>
            <div class="card-body align-self-center set-space">
                <h5 class="text-dark">Tagging and sinhala syntax checker.</h5>
                <div>
                    <p>Most of the time in sinhala the syntax follows as: Subject Object Verb</p>
                    <div class="d-flex justify-content-center"><textarea id="txtArea"></textarea></div>
                    <div class="btn-space d-flex justify-content-end"><button class="btn btn-primary text-right d-flex d-lg-flex justify-content-lg-center" id="btnCheckSyntax" type="submit">Check Syntax</button></div>
                </div>
            </div>
            <div class="card">
                <div class="card-body align-self-center set-space">
                    <h5 class="text-dark">Tagging and sinhala syntax checker.</h5>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>