<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sinhala Syntax Checker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body class="text-left text-primary justify-content-center align-items-center">
    <form action="checksyntax" method="post">
        {% csrf_token %}
        <div class="body-color">
            <div class="card">
                <div class="card-header">
                    <h1 class="display-3 text-center text-white border rounded mb-0" style="font-size: 75px;">Sinhala Grammar Checker</h1>
                </div>
                <div class="card-body align-self-center set-space">
                    <h5 class="text-dark">Tagging and checking the Sinhala syntax.</h5>
                    <div>
                        <p>Most of the time in Sinhala the grammar follows as: Subject Object Verb</p>
                        <div class="d-flex justify-content-center">
                            <textarea id="txtAreaId" name="txtArea">{{ request }}</textarea>
                        </div>
                        <div class="btn-space d-flex justify-content-end">
                            <input class="btn btn-primary text-right d-flex d-lg-flex justify-content-lg-center"
                                    id="btnCheckSyntax" type="submit" value="Check Syntax" />
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body align-self-center set-space">
                        <div class="row">
                            <h5 class="text-dark">Grammar Status: </h5>
                            <h6 class="text-black-50">{{ responseObj.status }}</h6>
                        </div>
                        {% if responseObj.status == "Incorrect Grammar"%}
                            <div class="row">
                                <h6 class="text-black-50">Reason:  </h6> <p>{{ responseObj.details }}</p>
                            </div>
                        {% endif %}
                    </div>
                    <div id="syntax-details" class="align-self-center">
                        <div class="row">
                            <p>{{ responseObj.noun_details.noun }}: {{ responseObj.noun_details.comment }}</p>
                            <p class="h-space">{{ responseObj.verb_details.verb }}: {{ responseObj.verb_details.comment }}</p>
                            <p class="h-space">{{ responseObj.adverb_details.adverb }}: {{ responseObj.adverb_details.comment }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <footer></footer>
</body>

</html>